.formBlock {
  padding: 100px;
  color: black;
  letter-spacing: 0.02em;
  width: 44.5%;
  font-size: 16px;
  line-height: 24px;
}
.formBlock__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
}
.formBlock__subTitle {
  font-weight: 300;
  color: #8d8d8d;
}
.formBlock__form {
  display: flex;
  flex-direction: column;
  margin: 100px 0 150px;
}
label {
  cursor: revert;
}
.formBlock__inpField {
  width: 100%;
  border-bottom: 1px solid black;
  line-height: 36px;
  margin-bottom: 6px;
}
.formBlock__form div {
  width: 60%;
  font-size: 14px;
  height: 24px;
  text-align: center;
  margin: auto;
  color: white;
  border-radius: 6px;
  background: rgba(255, 0, 0, 0.8);
}
button {
  width: 100%;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  padding: 18px 0 17px;
  cursor: pointer;
}
button:active {
  box-shadow: inset 0 0 5px 3px #999999;
}

.formBlock__submitBtn {
  background: #000000;
  border-radius: 20px;
  color: white;
  margin: 70px 0 20px;
  text-align: center;
}
.formBlock__signUpBtn {
  border: 1px solid #8d8d8d;
  border-radius: 20px;
  position: relative;
  padding: 18px 0 17px 31%;
}
.formBlock__signUpBtn::before {
  content: url(./../../../public/g-letter.svg);
  position: absolute;
  top: 21px;
  left: 21%;
}
.formBlock__signInLink {
  text-align: center;
}
.formBlock__signInLink a {
  text-decoration: none;
  color: #3ec1f3;
  padding-left: 15px;
}
